.projects-section {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(43, 42, 42);
  /* margin-left: 170px; */
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  /* width: 700px;
  margin-left: 170px; */
  margin-top: 50px;
}

.project-list {
  border-radius: 5px;
  box-shadow: 8px 8px 15px 0px rgba(94, 94, 94, 0.75);
  -webkit-box-shadow: 8px 8px 15px 0px rgba(94, 94, 94, 0.75);
  -moz-box-shadow: 8px 8px 15px 0px rgba(94, 94, 94, 0.75);
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(252, 248, 241);
}

.project-list h5 {
  color: rgb(43, 42, 42);
  font-weight: bold;
  /* width: 700px; */
}

.project-list:hover {
  border-left: 5px solid rgb(230, 83, 60);

  transition-duration: 1s;
}

.title {
  display: flex;
  margin: 5px;
}

.description {
  font-size: 14px;
  font-weight: 100;
  margin-left: 5px;
}

.techUsed-in-project {
  margin-top: 20px;
  margin: 5px;
}

.techUsed-in-project p {
  background-color: grey;
  color: white;
  border-radius: 90px;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.project-link-buttons {
  display: flex;
  font-size: 12px;
  color: whitesmoke;
}

.code-link-btn {
  background-color: rgb(70, 70, 70);
  border-radius: 90px;
  width: 120px;
  padding: 7px;
  text-align: center;
  margin-top: 10px;
  margin: 5px;
  cursor: pointer;
}

.live-link-btn {
  margin-left: 10px;
  background-color: rgb(70, 70, 70);
  border-radius: 90px;
  width: 120px;
  padding: 7px;
  text-align: center;
  margin-top: 10px;
  margin: 5px;
  cursor: pointer;
}

.code-link-btn:hover {
  background-color: rgb(255, 165, 127);
  width: 200px;
  transition-duration: 1s;
}

.live-link-btn:hover {
  background-color: rgb(255, 165, 127);
  width: 200px;
  transition-duration: 1s;
}
