.skills {
  margin-top: 50px;
  font-size: 14px;
  margin-left: 170px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(43, 42, 42);
}

.skills h2 {
  font-weight: medium;
  width: 700px;
}

.mw-fc {
  max-width: fit-content;
}
