.skills-section {
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0 15px;
}

.skills {
  margin-top: 50px;
  font-size: 14px;
  display: block;
}

.skills h2 {
  font-weight: var(--skills-font-weight);
}

.skills-content {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
}

.mw-fc {
  max-width: fit-content;
}

@media screen and (min-width: 769px) {
  .skills-section {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
  }

  .skills {
    max-width: 900px;
  }
}

@media screen and (min-width: 1025px) {
  .skills-section {
    margin-top: 20px;
  }

  skills {
    max-width: 1200px;
  }
}
