.about-section {
  font-family: var(--font-family);
  color: var(--text-color);
  margin-top: 50px;
  padding: 0 15px;
}

.about-me {
  font-size: 16px;
}

.about-me h2 {
  font-weight: 500;
}

.about-me p {
  padding-top: 10px;
}

@media screen and (min-width: 769px) {
  .about-section {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
  }

  .about-me {
    max-width: 900px;
  }
}

@media screen and (min-width: 1025px) {
  .about-section {
    margin-top: 70px;
  }

  .about-me {
    max-width: 1200px;
  }
}
